.respons-tabs {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}

.respons-tabs__menu {
    display: flex;
    justify-content: space-between;
    
}

.respons-tabs__menu-item {
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    background-color: #00BCD4;
    border-bottom: 4px solid #00BCD4;
    position: relative;
    display: flex;
    align-items: center;
    height:90px;
    justify-content: center;
    cursor: pointer;
}

.respons-tabs__menu-item span {
    opacity: 0.85;
    transition: 0.2s;
}

.respons-tabs__menu-item_active {
    border-bottom: 4px solid #EEE239;
}

.respons-tabs__menu-item_active span {
    opacity: 1;
}

.respons-tabs__menu-item h3 {
    color: #666;
    max-width: 240px;
    padding-right: 10px;
}

.respons-tabs__img {
    height: 50px;
    margin: 0 20px 0 8%;
    max-width: 65px;
    fill: #666;
    flex-shrink: 0;
}



.respons-tabs__menu-item_active h3 {
    color: #ad5a55; 
}

.respons-tabs__menu-item_active .respons-tabs__img {
    fill: #ad5a55;
}

.respons-tabs__text {
    
}

.respons-tabs__text-item {
    padding: 30px;
    background-color: #fff;
    
}

@media screen and (max-width: 992px) {
    .respons-tabs__menu-item h3 {
        font-size: 18px
    }
}

@media (max-width: 768px) {
    .respons-tabs__menu {
        flex-direction: column;
    } 
    
    .respons-tabs__menu-item {
        width: 100%;
        height: 100px;
        border-bottom: 0;
    }

    .respons-tabs__menu-item h3 {
        max-width: 100%;
    }

    .respons-tabs__text-item {
        padding: 5px 30px 30px;
    }

    .respons-tabs__img {
        height: 45px;
    }
}